body{
    text-align:center;
     background: linear-gradient(#0c57f7 0%, #a03fba 100%);
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
}
.bio{
    margin-top: 200px;
     position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    background: linear-gradient(#0c57f7 0%, #a03fba 100%);
    display: table;
    width: 100%;
    height: 800px;
    z-index: 10;
}
.line{
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
.header{
    word-spacing: 5px;
    font-family: sans-serif;
    font-size: 40px;
    font-variant: small-caps;
    font-weight: 600;
    font-style: oblique;
    color: red;
}
.sub-header{
    cursor: pointer;
}